
* {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

body{
    background-image:  url('assets/images/pngwing.com\ \(3\).png');
}

@font-face {
    font-family: 'font Japan' ;
    src: url('/fonts/To Japan.otf') format('opentype');
}

li {
    display: inline;
}

h1{
    font-family: 'font Japan' , Times, serif;
    font-size: 3rem;
    margin: 0px;
    color: rgb(0, 0, 0);
}
h2{
    font-family: 'font Japan' , Times, serif;
    font-size: 18px;
}

legend{
    font-family: 'font Japan' , Times, serif;
    font-size: 30px;
    margin-left: 60px;
}

a {
    text-decoration: none;
}

linearGradient{
    background-color: rgb(202, 64, 64);
    margin-left: 25% ;
    margin-right: 25% ;
    padding: 2px;
    border-color: black;

}

.margin-button{
    margin-left: 45px ;
    margin-right: 45px ;
}

.align-center{
    text-align: center;
}

.nav-button{
    background-color: rgb(184, 255, 77);
    margin: 30px;
    padding: 10px;
    border-radius: 50px;
    padding-bottom: 3.8px;
    padding-top: 3.8px;
}

.nav-button:hover{
    background-color: white;
    color: white;
}

.nav-text{
    font-family: 'font Japan' , Times, serif;;
    font-weight: bold;
    font-size: large;
    color: black;
}

#topic{
    text-align: center;
    font-weight: bold;
    font-family: 'font Japan' , Times, serif;;
    font-size: x-large;
    background-color: rgb(167, 141, 177);
    color: white;
    border-radius: 15px;
    justify-content: center;
}

.text{
    font-family: 'font Japan' , Times, serif;;
    font-size: x-small;
    font-weight: 200;
}

.picture{
    width: 100%;
}   

.social{
    width: 25px;
}

.container{
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

@media(max-width: 500px){
    .container{
        flex-direction: column;
    }
}

.container > div{
    width: 400px;
}

footer{
    text-align: center;
    margin-top: 60px;
    padding: 0px;
}

hr{
    display: none;
}